
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --pri:#fff;
    --sec:#36454f;
    --txtc:#FF6E31;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:  #080808;
     position: relative;
    width: 100%;
  height: 100%;
  color: #fff;
  overflow-x: hidden; 
}
/* 
body::before{
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background-size: cover;
    background: url(../public/img/bg1.jpg) no-repeat center fixed;
    background-position: 50% 0;
    z-index: -1;
  }
   */
  /* navbar */
  .container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.logo b{
    color: var(--txtc);
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
  content: '';
  width:0;
    height: 3px;
    background: var(--txtc);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
   
  }

  /** Hero Section */
  .header{
    width: 100%;
    height: 100vh;
  }
  
.header-text{
    margin-top: 12%;
    margin-bottom: 13%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
}

.header-text h1 span{
    color:var(--txtc);
}
.header-text p{
    font-size: 15px;
    text-align: center;
}


/** -----About------ */
.about{
    padding: 30px 0;
    color: #ababab;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 5px;
    box-shadow: -1rem -1rem 1px #ff6f31a3;
}



.about-col-2{
    flex-basis: 55%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin: 10px 0;
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--txtc);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}




/** contact */
.contact-left{
    margin-top: 70px;
    margin-bottom: 50px;
    flex-basis: 35%;
}
.contact-right{
    margin-top: 70px;
    margin-bottom: 50px;
    flex-basis: 60%;
}

.socal-icons{
    margin-top: 15px;
}
.icon-color{
    color: #ababab;
    font-size: 20px;
    margin: 2px 4px;
    font-size: 25px;
    transition: 0.5s;

}
.icon-color:hover{
    color:var(--txtc);
    transform: translateY(-5px);
}


.icon-color2{
    color: var(--txtc);
    font-size: 15px;
   margin-right: 15px;
    font-size: 25px;
}


.btn.btn2{
    display: inline-block;
    background: var(--txtc);
}
.btn.btn2:hover{
    /* display: inline-block; */
    background: #ff6f318d;
}


.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
    border-radius: 5px;
}

.msgp{
    height: 5vh;
}

/** services */


.services{
padding: 30px 0px;
/* margin-top: 5%; */
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div .icons{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    
}


.services-list div:hover{
   background: var(--txtc);
   transform: translateY(-10px);
}


.sIcon{
    font-size: 50px;
}


/** portfolio */

.portfolio{
    padding: 80px 0;
    /* margin-top: 5%;
    margin-bottom: 7%; */
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work a{
   color: #fff;
} 

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--txtc));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: var(--txtc);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform:  scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--txtc);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--txtc);
}

nav .fas{
    display:none;
}

.msg{
    color: #61b752;
    margin-top: -30px;
    display: block;
}


/** Skilles **/

.tap-flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.tap-content ul li{
    list-style: none;
    margin: 10px 0;
    
}
.tap-content ul li span{
   color: #FF6E31;
   font-size: 14px;

}

.tap-content.active-tab{
    display: block;
}





/** Footer */

.copyright {
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: var(--txtc);
    padding: 1.5rem 0;
    position: relative;
  }
  
  .up {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
  }
  
  .up i{
    color: var(--txtc);
    font-size: 2rem;
    margin: auto;
  }
  
  .copyright p {
    font-size: 1.45rem;
  }

  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #ff6f31d7;
    }
  
    70% {
      box-shadow: 0 0 0 2rem #ff6f31be;
    }
  
    100% {
      box-shadow: 0 0 0 0 #ff6f317f;
    }
  }
  
  /** Footer */

/* ------CSS From Small Sereen-------- */
@media screen and (max-width:600px) {

    .header-text {
        font-size: 15px;
        /* margin-top: 30%; */
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display:block;
        font-size: 30px;
    }

    nav ul{
        background: var(--txtc);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
       
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;

    }
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .up{
        right: 15px;
        width: 3rem;
    height: 3em;
    top: -1.9rem;
    }
    .copyright p {
        font-size: 1.2rem;
    }

    .tap-flex{
        flex-direction: column;
    }
    

}


@media screen and (max-width:600px) {

    .header-text {
        font-size: 15px;
        /* margin-top: 30%; */
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display:block;
        font-size: 30px;
    }

    nav ul{
        background: var(--txtc);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
       
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;

    }
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .up{
        right: 15px;
        width: 3rem;
    height: 3em;
    top: -1.9rem;
    }
    .copyright p {
        font-size: 1.2rem;
    }

}